body{
    background-color: rgb(217, 217, 217);
    font-family: sans-serif;
    margin: 0px;
}

nav {
    background-color: #c2c2c2;
    padding: 1px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black
}

.btn-contact {
    margin-top: 0;
    background-color: black;
    border-radius: 10px;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.div img {
    width: 40px;
    height: 40px;
}
.container-detail{
    margin: 0px 50px;
}
.margin{
    margin: 20px;
}