<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RIZKI RIZAL MUALIM</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/blog.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" >
            <div class="container-fluid ms-5 me-5">
                <a class="navbar-brand" href="#">
                    <img src="/public/berkas/logo.png" alt="dumbways" width="30" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="/">Home</a>
                        </li>
                        {{if .Data.Islogin}}
                        <li class="nav-item">
                            <a class="nav-link fs-5" href="/add-Project">Add Project</a>
                        </li>
                        {{end}}
    
                    </ul>
                    <div class="d-flex justify-content-end me-3">
                            <a class="nav-link me-3 fs-5" aria-current="page" href="/register">Register</a>
                            <a class="nav-link fs-5" href="/login">Login</a>
                    </div>
                        <button type="button" class="btn btn-outline-dark mt-0">
                            <a class="nav-link" href="/contact">Contact me</a>
                        </button>
                </div>
            </div>
        </nav>

        <div class="container-lg">
            <form action="/update-Project/{{.Blog.ID}}" enctype="multipart/form-data" method="post">
                <h1 class="m-5 text-center fw-bold">UPDATE MY PROJECT</h1>
                <div class="mb-3">
                    <label for="nama" class="form-label mb-0 fs-5">Project Nama</label>
                    <input type="text" name="name" class="form-control" id="nama" value="{{.Blog.Name}}">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="sdate" class="form-label mb-0 fs-5">Start Date</label>
                        <input type="datetime-local" id="sdate" class="form-control" name="sdate" value="{{.Blog.Sdate}}">
                    </div>
                    <div class="col">
                        <label for="edate" class="form-label mb-0 fs-5">End Date</label>
                        <input type="datetime-local" id="edate" class="form-control" name="edate" value="{{.Blog.Edate}}">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="desc" class="form-label mb-0 fs-5">Description</label>
                    <textarea class="form-control" name="desc" id="desc" style="resize:none ;" rows="5">{{.Blog.Desc}}</textarea>
                </div>
                <div>
                    <label for="desc" class="form-label mb-3 fs-5">Technology</label><br>
                    <div class="d-flex">
                        <div class="me-5">
                            <div class="form-check mb-3">
                                <input class="form-check-input p-2" name="Technology" type="checkbox" id="cb1" value='<img src="public/berkas/nodejs.png" style="width: 30px"/>'
                                {{ range $index, $data :=.Blog.Technology }}
                                {{ if (eq $data "nodejs" ) }} checked {{end}}{{end}}>
                                <label for="cb1" class="form-label ms-1 fs-5">Node Js</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input p-2" name="Technology" type="checkbox" id="cb2" value='<img src="public/berkas/react.jpg" style="width: 30px"/>'
                                {{ range $index, $data := .Blog.Technology }}{{ if (eq $data "react" ) }} checked {{end}}{{end}}>
                                <label for="cb2" class="form-label ms-1 fs-5">React Js</label>
                            </div>
                        </div>
                        <div class="ms-5">
                            <div class="form-check mb-3">
                                <input class="form-check-input p-2" name="Technology" type="checkbox" id="cb3" value='<img src="public/berkas/nextjs.png" style="width: 30px"/>'
                                {{ range $index, $data := .Blog.Technology }}{{ if (eq $data "next" ) }} checked {{end}}{{end}}>
                                <label for="cb3" class="form-label ms-1 fs-5">Next Js</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input p-2" name="Technology" type="checkbox" id="cb4" value='<img src="public/berkas/typescript.png" style="width: 30px"/>'
                                {{ range $index, $data := .Blog.Technology }}{{ if (eq $data "") }} checked {{end}}{{end}}>
                                <label for="cb4" class="form-label ms-1 fs-5">Typescript</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Upload Image</label>
                    <div class="uploadfile">
                        <label for="input-image">
                            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Chosee</a>
                            <img src="/public/berkas/file.png"/>
                            <input type="file" id="input-image" hidden/>
                        </label>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-outline-dark mt-0 active">
                            Submit
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </body>
</html>